input {
  font-size: var(--info);
  background: none;
  border: none;
  padding: var(--spacing-2);

  width: 100%;
}

.input {
  display: flex;
  justify-content: space-between;

  background-color: var(--black-600);
  border-radius: var(--spacing-2);
}

.input button {
  padding: var(--spacing-2);
}