.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--red);
  font-weight: bold;
}

.button {
  outline: none;
}

.button.active::before {
  content: '';
  border: 1px solid var(--red); 
  width: 100%; 
  transition: all 0.2s ease-in-out;
}